.main {
    height: 50rem;
    max-width: 46.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

@media screen and (max-width: 500px) {
    .main {
        padding: 0 1rem;
    }
}